# To separate your traces from other application
LANGSMITH_PROJECT=DeepResearch
LANGSMITH_API_KEY=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

# Add API keys for connecting to LLM providers, data sources, and other integrations here
